@media screen and (max-width: 1400px) {
    .card-steps-01,
    .card-steps-02,
    .card-steps-03{
        gap: 2rem;
    }

    .card-steps-01 > img,
    .card-steps-03 > img,
    .card-steps-02 > img{
        width: 40%;
        /* display: flex;
        justify-content: center;
        margin: auto; */
    }

    .text-heading{
        /* width: 40%; */
        margin: auto;
    }
}

@media screen and (max-width: 1200px) {

    .card-steps-01,
    .card-steps-02,
    .card-steps-03{
        display: block;
        transform: translateY(0);
        gap: 2rem;
    }

    .card-steps-01 > img,
    .card-steps-03 > img {
    transform: translateX(0);
    }

    .card-steps-02 > img {
        margin-right: 50px;
    }

    .blck-numbering,
    .warn{
        font-size: 140px;
        top: -5%;
        left: -15%;
        font-size: 140px;
    }

    .card-steps-01 > img,
    .card-steps-03 > img,
    .card-steps-02 > img{
        width: 90%;
        /* display: flex;
        justify-content: center;
        margin: auto; */
    }


}

@media screen and (max-width: 768px) {
    .sub-title > h1 {
        font-size: 40px;
    }

    .sub-title > p{
        font-size: 10px;
    }

    nav > a {
        font-size: 14px;
    }

    nav > a:nth-child(1),
    nav > a:nth-child(2){
        margin-right: 1rem;
    }

    .logo{
        font-size: 24px;
    }

    .second-column-inform{
        gap: 5rem;
    }

    .links a{
        margin-top: 1rem;
        font-size: 12px;
    }

    .hf-text{
        font-size: 18px;
    }

    .copyright{
        margin-top: 100px;
        font-size: 14px;
    }
    
    .message-text{
        font-size: 14px;
        margin-top: 40px;
    }

    .card-steps-01 > img,
    .card-steps-03 > img,
    .card-steps-02 > img{
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .content-01,
    .content-02,
    .content-03{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
}

@media screen and (max-width: 576px) {

    .card-steps-01 > img,
    .card-steps-03 > img,
    .card-steps-02 > img{
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .content-01,
    .content-02,
    .content-03{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .heading-for-cards{
        font-size: 50px;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;
    }

    .bl-btn-account > p{
        display: none;
    }

    .blck-numbering,
    .warn{
        left: 0;
    }

    .logo{
        font-size: 18px;
    }
}

@media screen and (max-width: 474px) {

    .card-steps-01 > img,
    .card-steps-03 > img {
    transform: translateX(0);
    /* margin-left: -50px; */
    }

    .card-steps-01 > img,
    .card-steps-03 > img,
    .card-steps-02 > img{
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .colontit-text:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .sub-title > h1 {
        font-size: 30px;
        /* margin-top: 50px; */
    }

    .sub-title > p{
        font-size: 10px;
        margin-top: 50px;
    }

    .bl-btn-account{
        display: none;
    }

    nav > a{
        display: none;
    }

    .ham-menu-btn.active > span{
        height: 0;
    }

    .ham-menu-btn.active > span::before{
        transform: rotate(45deg);
    }

    .ham-menu-btn.active > span::after{
        transform: rotate(-45deg);
    }

    .ham-menu{
        width: 50px;
        height: 50px;
        display: block;
    }

    .cont-prev{
        justify-content: space-between;
    }

    /* .ham-menu.bg-active{
        transform: translateX(150px);
        height: 100%;
        width: 100%;
        background-color: darkgray;
    } */

    .ham-menu-btn{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
    }

    .ham-menu-btn span{
        display: block;
        background-color: white;
        height: 2px;
        width: 25px;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
    }

    .ham-menu-btn span::before{
        display: block;
        content: '';
        background-color: white;
        height: 2px;
        width: 25px;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
        transform: translateY(-6px);
    }

    .ham-menu-btn span::after,
    .ham-menu-btn span::before{
        transition: 0.3s;
        content: '';
    }

    .ham-menu-btn span::after{
        content: '';
        display: block;
        background-color: white;
        height: 2px;
        width: 25px;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
        transform: translateY(6px);
    }

    .heading-for-cards{
        font-size: 40px;
        /* justify-content: start; */
        align-self: center;
        text-align: center;
    }

    .footer{
        overflow-x: hidden;
    }

    .content-01,
    .content-02,
    .content-03{
    width: 300px;
    /* margin-left: 2rem; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* align-items: center;  */
    justify-content: center;
    }

    .text-heading{
        font-size: 15px;
        line-height: 20px;
        width: 90%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .second-column-inform{
        gap: 2rem;
    }

    .link a{
        margin-top: 15px;
        font-size: 14px;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
    }

    .link{
        transform: skewY(0);
        opacity: 0;
        transition: .5s;
    }

    .link.links-active{
        transform: skewY(1);
        opacity: 1;
        transition: .5s;
    }


    .message-text{
        width: 100px;
    }

    /* .content-02{
        margin-left: 3rem;
    } */
}


@media screen and (max-width: 380px) {

    .card-steps-01 > img,
    .card-steps-03 > img {
        transform: translateX(0);
        /* margin-left: -50px; */
    }

    .card-steps-01 > img,
    .card-steps-03 > img,
    .card-steps-02 > img{
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .content-01,
    .content-02,
    .content-03{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 auto;
    }

    .colontit-text:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .sub-title > h1 {
        font-size: 20px;
    }

    .sub-title > p{
        font-size: 10px;
    }

    nav > a,
    .bl-btn-account{
        display: none;
    }

    .ham-menu-btn{
        display: block;
    }

    .link a{
        margin-top: 15px;
        font-size: 14px;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
    }

    .link{
        opacity: 0;
        transition: .1s;
    }

    .link.links-active{
        opacity: 1;
    }

    .ham-menu-btn.active > span{
        height: 0;
    }

    .ham-menu-btn.active > span::before{
        transform: rotate(45deg);
    }

    .ham-menu-btn.active > span::after{
        transform: rotate(-45deg);
    }

    .ham-menu-btn{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
    }

    .ham-menu-btn span{
        display: block;
        background-color: white;
        height: 2px;
        width: 25px;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
    }

    .ham-menu-btn span::before{
        display: block;
        content: '';
        background-color: white;
        height: 2px;
        width: 25px;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
        transform: translateY(-6px);
    }

    .ham-menu-btn span::after,
    .ham-menu-btn span::before{
        transition: 0.3s;
        content: '';
    }

    .ham-menu-btn span::after{
        content: '';
        display: block;
        background-color: white;
        height: 2px;
        width: 25px;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
        transform: translateY(6px);
    }

    .heading-for-cards{
        font-size: 40px;
        align-self: center;
        text-align: center;
        /* justify-content: center; */
    }

    .footer{
        overflow-x: hidden;
        padding: 0px 10px;
    }

    .content-01,
    .content-02,
    .content-03{
    width: 300px;
    /* margin-left: 2rem;
    margin-left: 0; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }

    .text-heading{
        font-size: 15px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        width: 90%;
    }

    .second-column-inform{
        gap: 1rem;
    }

    .links a{
        margin-top: 5px;
        font-size: 12px;
    }

    .message-text{
        width: 100px;
    }

    /* .content-02{
        margin-left: 3rem;
    } */

    .links-hum-burg-menu{
        display: block;
    }
}

@media screen and (max-width: 330px) {
    .cont-sect{
        overflow: hidden;
    }


    .cont-prev{
        align-items: center;
    }

    .card-steps-01 > img,
    .card-steps-03 > img,
    .card-steps-02 > img{
        display: block;
    }

    .content-02{
        margin-left: 0;
    }

    .text-heading{
        width: 80%;
    }

    .ham-menu-btn.active > span{
        height: 0;
    }

    .ham-menu-btn.active > span::before{
        transform: rotate(45deg);
    }

    .ham-menu-btn.active > span::after{
        transform: rotate(-45deg);
    }

    .ham-menu-btn{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
    }

    .ham-menu-btn span{
        display: block;
        background-color: white;
        height: 2px;
        width: 25px;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
    }

    .ham-menu-btn span::before{
        display: block;
        content: '';
        background-color: white;
        height: 2px;
        width: 25px;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
        transform: translateY(-6px);
    }

    .ham-menu-btn span::after,
    .ham-menu-btn span::before{
        transition: 0.3s;
        content: '';
    }

    .ham-menu-btn span::after{
        content: '';
        display: block;
        background-color: white;
        height: 2px;
        width: 25px;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
        transform: translateY(6px);
    }

    .ham-menu-btn{
        display: block;
    }

    .link a{
        margin-top: 5px;
        font-size: 12px;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;

    }

    .link{
        opacity: 0;
        transition: .1s;
    }

    .link.links-active{
        opacity: 1;
    }


}

